<form class="transaction">
  Tid <input type="date" name="time" required="required" value="<%= time %>" class="transaction-time" />
  Beløp <input type="text" pattern="[\d,\.]+" name="amount" required="required" data-type="amount" value="<%= amount %>" />
  Beskrivelse <input type="text" name="description" required="required" data-type="description" value="<%= description %>" />
  <input type="submit" class="submit-transaction" />

  <p class="errors"></p>
</form>
