<table>
  <thead>
    <tr>
      <th>Dato</th>
      <th>Beskrivelse</th>
      <th>Beløp</th>
    </tr>
  </thead>
  <tbody>
  <% $.each(transactions, function(i, transaction) { %>
  <tr>
    <td><%= transaction.get("time") %></td>
    <td class="description"><%= transaction.get("description") %></td>
    <td><%= transaction.get("amount") %></td>
  </tr>
<% }); %>
  </tbody>
</table>
