<div class='page-header'>
	<h1>TransactionGroups#index</h1>
</div>

<p>Ved å sette opp transaksjonsgrupper kan du dele dele inn transaksjonene dine i grupperinger. Disse reflekteres i grafen for <a class="btn" href="/#overview/<%= new Date().getFullYear() %>/yearly">Gruppert oversikt</a>.</p>

<h2>Legg til ny gruppe</h2>

Gruppen blir lagt til ved å trykke enter.

<div class="add-transaction-group"></div>

<h2>Eksisterende grupper</h2>

Endringer lagres ved å trykke enter.

<div class="transaction-groups"></div>
