<form accept-charset="UTF-8" action="/transaction_groups" data-remote="true" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
  </div>

  Tittel
  <input required="required" name="transaction_group[title]" size="30" type="text" />

  <br />

  Søkeord (regex)
  <input required="required" name="transaction_group[regex]" size="30" type="text" />

  <input name="commit" type="submit" value="Submit">
</form>
