<form id="transaction_group_<%= id %>">

  Tittel
  <input required="required" name="title" size="30" type="text" value="<%= title %>" />

  <br />

  Søkeord (regex)
  <input required="required" name="regex" size="30" type="text" value="<%= regex %>" />

  <a href="#" class="delete-transaction-group" rel="nofollow">Slett</a>
  <input type="submit" value="Oppdater">
</form>
