<div class='page-header'>
  <h1>Gruppert oversikt
    <small>Hva bruker du penger på, og hvilke inntektskilder har du?</small>
  </h1>
</div>

<p>Denne visningen bruker <a href="#transaction_groups">Transaksjonsgrupper</a> til å kategorisere utgifter og inntekter.</p>

<div class="controls"></div>

<div id="chartContainer"></div>

<div id="transaction-overview"></div>
