<td data-name="time" class="center time" data-editable="true"><%= obj.prettyTime() %></td>
<td data-name="amount" class="center amount" data-editable="true"><%= attributes.amount %></td>
<td data-name="description" data-editable="true"><%= attributes.description %></td>
<td class="center delete"><a href="#" class="delete-transaction">Slett</a></td>
