<td data-name="time" class="center time" data-editable="true"><%= model.prettyTime() %></td>
<td data-name="amount" class="center amount" data-editable="true"><%= model.get('amount') %></td>
<td data-name="description" data-editable="true"><%= model.get('description') %></td>
<td class="center time"><%= model.createdAt() %></td>
<td class="center delete"><a href="#" class="btn btn-mini btn-danger delete-transaction"><i class='icon-trash icon-white'/> Slett</a></td>
