<table class='table table-striped table-condensed'>
  <thead>
    <tr>
      <th>Tid</th>
      <th>Beløp</th>
      <th>Beskrivelse</th>
      <th>Lagt til</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="transactions">
  </tbody>
</table>
