@mixin cell-background($padding) {
  padding: $padding;
  text-align:center;
  background-color: $spoiledwater;
  border: 1px solid darken($spoiledwater, 10%);
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}

@mixin tooltip-background {
  background-color: #000;
  border: 1px solid #fff;
  padding: 10px 15px;
  color: #fff;
  text-align: left;
  font-size: 12px;

  -moz-box-shadow:0 0 10px #000;
  -webkit-box-shadow:0 0 10px #000;
}
