// Place all the styles related to the TransactionBatches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_transaction_batch {

  textarea#transaction_batch_content {
    width: 99%;
    display: none;
  }

  input[type=submit] {
    display: none;
  }

}


div.last-transactions-wrapper {
  margin-bottom: 8px;
  div.content {
    display: none;
  }

  p.expand, .controls p {
    text-decoration: underline;
  }

  p.expand:hover, .controls p:hover {
    text-decoration: none;
  }
}

p.errors {
  display: inline-block;
}

div.transactions-to-add {

  div {
    margin: 20px 0;
  }

  margin-top: 25px;

  div.duplicated-transactions {
    display: none;
    border: 1px solid red;

    div.duplicated-transaction {
      p {
        margin: 4px;
      }
      padding: 8px;

      span.duplicated-transaction-data {
        font-weight: bold;
      }

      border-bottom: 1px solid #ccc;
    }
  }

  div.parse-error-transactions {
    display: none;
    border: 1px solid red;
  }

  div.successfully-parsed-transactions {
    display: none;
    border: 1px solid green;
  }


}
