// Place all the styles related to the TransactionBatches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#transaction_batch_content {
  width: 99%;
}

p.expand, .controls p {
  text-decoration: underline;
}

p.expand:hover, .controls p:hover {
  text-decoration: none;
}

div.last-transactions-wrapper {
  margin-bottom: 8px;
  div.content {
    display: none;
  }
}

p.errors {
  display: inline-block;
}

div.transactions-to-add {
  margin-top: 25px;

  input#submit-all {
    display: none;
  }

}
