@import "colors";

table {
  width: 98%;
  margin: 0 auto;
  th {
    border: 1px solid #C1DAD7;
    padding: 3px;
    background: #CAE8EA;
  }

  td.center {
    text-align: center;
  }

  td.time {
    width: 100px;
  }

  td.amount {
    width: 100px;
  }

  td.delete {
    width: 60px;
  }

  td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 5px;
  }

  tr.even td {
    background: #F5FAFA;
  }

  input {
    width: 100%; 
    border: 0;
  }

}

div.dataTables_info {
  margin-top: 10px;
}

div.paging_full_numbers {
  margin-top: 25px;
  text-align: center;

  span {
    padding: 7px;
    cursor: pointer;
  }

  span.paginate_active {
    font-weight: bold;
  }
}

@mixin cell-background($padding) {
  padding: $padding;
  text-align:center;
  background-color: $spoiledwater;
  border: 1px solid darken($spoiledwater, 10%);
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}

#transaction-overview {
  position: relative;

  table {
    font-size: 12px;
    width: 95%;
    margin: 5px auto;
    border-collapse:separate;
    
    thead {
      th {
        padding:10px;
        border: 1px solid darken($twitter, 20%);
        border-bottom: 3px solid darken($twitter, 30%);
        background-color: $twitter;

        -webkit-border-top-left-radius:5px;
        -webkit-border-top-right-radius:5px;
        -moz-border-radius:5px 5px 0px 0px;
      }
    }

    tbody {
      td {
        @include cell-background(2px);
      }
      td.description {
        text-align: left;
      }
    }
  }
} 

.controls {
  text-align: center;
  margin: 15px 0;
  a {
    @include cell-background(10px);
    font-size: 22px;
    }

  a:hover, a.active {
    background-color: darken($spoiledwater, 10%)
  }

}
