@import "colors";

.transactions {
  .transaction {
    border: 1px solid #ccc;
    font-size: 10px;

    input {
      font-size: 11px;
    }

    margin-bottom: 5px;
    padding: 2px;
  }

  .pagination {
    text-align: center;
    font-size: 20px;
    font-weight: bold;

    .page {
      padding: 10px;
      margin: 5px;
    }
    .page:hover {
      cursor: pointer;
      font-style: underline;
      color: $outofsight;
    }
  }
}

@mixin cell-background($padding) {
  padding: $padding;
  text-align:center;
  background-color: $spoiledwater;
  border: 1px solid darken($spoiledwater, 10%);
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}

#transaction-overview {
  position: relative;

  table {
    font-size: 12px;
    width: 95%;
    margin: 5px auto;
    border-collapse:separate;
    
    thead {
      th {
        padding:10px;
        border: 1px solid darken($twitter, 20%);
        border-bottom: 3px solid darken($twitter, 30%);
        background-color: $twitter;

        -webkit-border-top-left-radius:5px;
        -webkit-border-top-right-radius:5px;
        -moz-border-radius:5px 5px 0px 0px;
      }
    }

    tbody {
      td {
        @include cell-background(2px);
      }
      td.description {
        text-align: left;
      }
    }
  }
} 

.controls {
  text-align: center;
  margin: 15px 0;
  a {
    @include cell-background(10px);
    font-size: 22px;
    }

  a:hover, a.active {
    background-color: darken($spoiledwater, 10%)
  }

}
