@import "colors";
@import "mixins";

div.dataTables_info {
  margin-top: 10px;
}

div.paging_full_numbers {
  margin-top: 25px;
  text-align: center;

  span {
    padding: 7px;
    cursor: pointer;
  }

  span.paginate_active {
    font-weight: bold;
  }
}

table {
  td.time, td.amount {
    width: 100px;
  }
  td.delete {
    width: 70px;
  }
}


#transaction-overview {
  position: relative;
}


.controls {
  text-align: center;
  margin: 15px 0;
  a {
    @include cell-background(10px);
    font-size: 22px;
    }

  a:hover, a.active {
    background-color: darken($spoiledwater, 10%)
  }

}
