// Place all the styles related to the TransactionBatches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_transaction_batch {

  textarea#transaction_batch_content {
    width: 99%;
    display: none;
  }

  input[type=submit] {
    display: none;
  }

}


div.last-transactions-wrapper {
  margin-bottom: 8px;
  div.content {
    display: none;
  }

  p.expand, .controls p {
    text-decoration: underline;
  }

  p.expand:hover, .controls p:hover {
    text-decoration: none;
  }
}

p.errors {
  display: inline-block;
}

div.transactions-to-add {

  .transaction {
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-color: #70b569;
    background-color: #b8e1b4;

    p {
      margin: 4px;
    }
  }

  div {
    margin: 20px 0;
  }

  margin-top: 25px;

  .duplicated-transaction, .parse-error-transaction {
    border-color: #ff6e6e;
    background-color: #ffd0d0;

    span.duplicated-transaction-data {
      font-weight: bold;
    }

  }

  p.head {
    text-align: center;
    font-size: 18px;
  }

  div.successfully-parsed-transactions, div.duplicated-transactions, div.parse-error-transactions {
    display: none;
  }


}
