<h1>Transactions#index</h1>

<div id="chartContainer"></div>

<div id="transaction-overview"></div>

<div id="transaction-list">
  <h2>Transaksjoner</h2>
  <div class="transactions">
    <%= render @transactions %>
  </div>
  <div class="pagination"></div>
</div>
