<h1>Transactions#index</h1>

<div id="chartContainer"></div>

<button id="chart-by-month">Måneder</button>
<button id="chart-by-year">År</button>

<div id="transaction-overview"></div>

<div id="transaction-list">
  <div class="transactions"></div>
  <div class="pagination"></div>
</div>


<%= render @transactions %>
