<script type="text/html" id="transaction">
<p>
<form>
  <input type="text" class="time" value="<!= time !>" />
  <input type="text" class="amount" value="<!= amount !>" />
  <input type="text" class="description" value="<!= description !>" />
  <%= select_tag "transaction_group", options_from_collection_for_select(@transaction_groups, "id", "title"), :class => 'transaction_groups' %>
  <input type="submit" />
</form>
</p>
</script>

<h1>TransactionBatches#new</h1>

<%= form_for @transaction_batch, :remote => true do |f| %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>

<div id="transactions">
  <input type="submit" value="Submit all" />

</div>
